
main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.card1
{
    margin-top:90px;
    padding: 20px;
}
.card2{
margin-top: 15px;
}
.tablecolor th {
    background-color:#470A3C;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.backbutton{
    padding: 5px;
    background-color: #470A3C ;
    border-radius: 1rem;
    color:white;
}
.submit{
  padding: 5px;
  background-color: #470A3C ;
  border-radius: 1rem;
  color:white;
}
.filter-row {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: left;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-icon {
    position: relative;
    display: inline-block;
  }
  
  .search-icon input {
    padding: 0.5rem 2rem 0.5rem 1rem; 
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f6f8fa;
  }
  
  .search-icon mat-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
  }
  .updatebutton{
    padding: 5px;
    background-color: #470A3C ;
    border-radius: 1rem;
    color:white;
   
  }
  .exportexcel{
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 1rem;
}
.exportpdf{
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
}
.input{
  padding:10px;
  border: none;
  background-color:#f3f3f9 ;
  border-radius: 10px;
  width: 100%;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}