<div class="container card">
    <h2 style="text-align: center;">ARREAR</h2>
    <form [formGroup]="arrear">
    <div class="row">
        <div class="col-2">
            <mat-label>PPO.No</mat-label>
            <input id="ppo" class="input form-control" formControlName="ppo" type="text" mat-input>
        </div>
        <div class="col">
            <button class="fetch">Fetch</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-label>Name</mat-label>
            <input id="name" class="input form-control" formControlName="name" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Designation</mat-label>
            <input id="designation" class="input form-control" formControlName="designation" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Last Place Of Working</mat-label>
            <input  id="workingPlace" class="input form-control" formControlName="workingPlace" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>DOA</mat-label>
            <input id="doa" class="input form-control" formControlName="doa" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>DOR/Death</mat-label>
            <input  id="dor" class="input form-control" formControlName="dor" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Age</mat-label>
            <input id="age" class="input form-control" formControlName="age" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Arrear start date</mat-label>
            <input  id="arrearStartDate" class="input form-control" formControlName="arrearStartDate" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Arrear end date</mat-label>
            <input id="arrearEndDate" class="input form-control" formControlName="arrearEndDate" type="text" mat-input> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-label>Due Basic Pension</mat-label>
            <input id="basicPension" class="input form-control" formControlName="basicPension" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Due Addl Pension</mat-label>
            <input id="dueAddlPension" class="input form-control" formControlName="dueAddlPension" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Due commuted value</mat-label>
            <input id="commutedValue" class="input form-control" formControlName="commutedValue" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Due pension payable</mat-label>
            <input id="pensionPayable" class="input form-control" formControlName="pensionPayable" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Due DA</mat-label>
            <input id="dueDa" class="input form-control" formControlName="dueDa" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Due MA</mat-label>
            <input id="dueMa" class="input form-control" formControlName="dueMa" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Due Gross Pension</mat-label>
            <input id="dueGross" class="input form-control" formControlName="dueGross" type="text" mat-input> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-label>Drawn basic Pension</mat-label>
            <input id="drawnBasicPension" class="input form-control" formControlName="drawnBasicPension" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Drawn Addl Pension</mat-label>
            <input id="drawnAddlPension" class="input form-control" formControlName="drawnAddlPension" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Drawn commuted value</mat-label>
            <input id="drawnCommutedValue" class="input form-control" formControlName="drawnCommutedValue" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Drawn pension payable</mat-label>
            <input id="drawnPensionPayable" class="input form-control" formControlName="drawnPensionPayable" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Drawn DA</mat-label>
            <input id="drawnDa" class="input form-control" formControlName="drawnDa" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Drawn MA</mat-label>
            <input id="drawnMa" class="input form-control" formControlName="drawnMa" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>Drawn Gross Pension</mat-label>
            <input id="drawnGross" class="input form-control" formControlName="drawnGross" type="text" mat-input> 
        </div>
    </div>
    <div class="row">
        <div class="col">
             </div>
        <div class="col">
            </div>
        <div class="col">
            </div>
        <div class="col">
             </div>
        <div class="col">
            </div>
        <div class="col">
               </div>
        <div class="col">
            <mat-label>Difference Payable</mat-label>
            <input id="differencePayable" class="input form-control" formControlName="differencePayable" type="text" mat-input> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-label>recovery 1</mat-label>
            <input id="recoverOne" class="input form-control" formControlName="recoverOne" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>recovery 2</mat-label>
            <input id="recoveryTwo" class="input form-control" formControlName="recoveryTwo" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>recovery 3</mat-label>
            <input  id="recoveryThree" class="input form-control" formControlName="recoveryThree" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>recovery 4</mat-label>
            <input id="recoveryFour" class="input form-control" formControlName="recoveryFour" type="text" mat-input> 
        </div>
        <div class="col">
            <mat-label>recovery 5</mat-label>
            <input id="recoveryFive" class="input form-control" formControlName="recoveryFive" type="text" mat-input> 
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <mat-label>Total Deductions</mat-label>
            <input  id="totalDeductions" class="input form-control" formControlName="totalDeductions" type="text" mat-input> 
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <mat-label>Net Payable</mat-label>
            <input  id="netPayable" class="input form-control" formControlName="netPayable" type="text" mat-input> 
        </div>
    </div>
</form>
</div>
<main></main>